.card {
    align-items: center;
    border: 3px solid rgb(3, 30, 70);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
    width: 270px;
  }